<slides-presentation slides-slides-routing slides-mode-routing>

  <div class="btn-bar">
    <slides-feedback-widget></slides-feedback-widget>
    <slides-menu-shortcut></slides-menu-shortcut>
  </div>
  <slides-progress-bar></slides-progress-bar>
  <slides-arrows></slides-arrows>


  <slides-slide id="intro" no-padding milestone="ByTheWay">
    <slides-title-slide title="By The Way" description="Angular Services, ngIf/Else"></slides-title-slide>
  </slides-slide>

  <slides-slide id="if-else">
    <h1 i18n>ngIf</h1>
    <h2>
      <b>ngIf </b> allow us to display block of HTML code base on a condition.
    </h2>
    <slides-playground
      [config]="config.ngif.template.code"
      [browserUseConsole]="true">
    </slides-playground>
  </slides-slide>

  <slides-slide id="end" milestone="Visaul-Studio-Code">
    <slides-closing-slide>
      <div class="header" header>
        <h1 i18n>End of Visual Studio Code Section</h1>
      </div>
      <div class="body" body>
        <h2 i18n>Well done! This is the end of the milestone!</h2>
        <ul>
          <li i18n><a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code Offical Site</a></li>
        </ul>
      </div>
      <div class="footer" footer>
        <h2 i18n>
          <a routerLink="/">Back to Index</a>
          <!--<a routerLink="/bootstrap/0">Go to the next Milestone</a>-->
        </h2>
      </div>
    </slides-closing-slide>
  </slides-slide>


</slides-presentation>
